WebContent/wsdl/Curso.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Academico.Controlador" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Academico.Controlador" xmlns:intf="http://Academico.Controlador" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Academico.Controlador" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calcularCantCursos">
    <complexType>
     <sequence>
      <element name="rut" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calcularCantCursosResponse">
    <complexType>
     <sequence>
      <element name="calcularCantCursosReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarCambios">
    <complexType>
     <sequence>
      <element name="rut" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarCambiosResponse">
    <complexType/>
   </element>
   <element name="inscribirEstudiantes">
    <complexType>
     <sequence>
      <element name="idCurso" type="xsd:int"/>
      <element name="rutEstudiante" type="xsd:string"/>
      <element name="rutProf" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="inscribirEstudiantesResponse">
    <complexType>
     <sequence>
      <element name="inscribirEstudiantesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="desactivarCurso">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="rutDirector" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="desactivarCursoResponse">
    <complexType>
     <sequence>
      <element name="desactivarCursoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="crearCurso">
    <complexType>
     <sequence>
      <element name="nombreCurso" type="xsd:string"/>
      <element name="rutJefeAdm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="crearCursoResponse">
    <complexType>
     <sequence>
      <element name="crearCursoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNombreCurso">
    <complexType/>
   </element>
   <element name="getNombreCursoResponse">
    <complexType>
     <sequence>
      <element name="getNombreCursoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="asignarProfesor">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="rutProfe" type="xsd:string"/>
      <element name="rutJefeAdm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="asignarProfesorResponse">
    <complexType>
     <sequence>
      <element name="asignarProfesorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNombre">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNombreResponse">
    <complexType/>
   </element>
   <element name="bucarCursos">
    <complexType>
     <sequence>
      <element name="rut" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bucarCursosResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="bucarCursosReturn" type="impl:ArrayOf_xsd_string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="buscarCurso">
    <complexType>
     <sequence>
      <element name="idCurso" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarCursoResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="buscarCursoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="desactivarCursoRequest">

      <wsdl:part element="impl:desactivarCurso" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="crearCursoResponse">

      <wsdl:part element="impl:crearCursoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bucarCursosResponse">

      <wsdl:part element="impl:bucarCursosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="asignarProfesorRequest">

      <wsdl:part element="impl:asignarProfesor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calcularCantCursosResponse">

      <wsdl:part element="impl:calcularCantCursosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="actualizarCambiosResponse">

      <wsdl:part element="impl:actualizarCambiosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bucarCursosRequest">

      <wsdl:part element="impl:bucarCursos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="crearCursoRequest">

      <wsdl:part element="impl:crearCurso" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="asignarProfesorResponse">

      <wsdl:part element="impl:asignarProfesorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNombreResponse">

      <wsdl:part element="impl:setNombreResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNombreCursoResponse">

      <wsdl:part element="impl:getNombreCursoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscribirEstudiantesRequest">

      <wsdl:part element="impl:inscribirEstudiantes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscribirEstudiantesResponse">

      <wsdl:part element="impl:inscribirEstudiantesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNombreCursoRequest">

      <wsdl:part element="impl:getNombreCurso" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="actualizarCambiosRequest">

      <wsdl:part element="impl:actualizarCambios" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calcularCantCursosRequest">

      <wsdl:part element="impl:calcularCantCursos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="desactivarCursoResponse">

      <wsdl:part element="impl:desactivarCursoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarCursoRequest">

      <wsdl:part element="impl:buscarCurso" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarCursoResponse">

      <wsdl:part element="impl:buscarCursoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNombreRequest">

      <wsdl:part element="impl:setNombre" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Curso">

      <wsdl:operation name="calcularCantCursos">

         <wsdl:input message="impl:calcularCantCursosRequest" name="calcularCantCursosRequest">

       </wsdl:input>

         <wsdl:output message="impl:calcularCantCursosResponse" name="calcularCantCursosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="actualizarCambios">

         <wsdl:input message="impl:actualizarCambiosRequest" name="actualizarCambiosRequest">

       </wsdl:input>

         <wsdl:output message="impl:actualizarCambiosResponse" name="actualizarCambiosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscribirEstudiantes">

         <wsdl:input message="impl:inscribirEstudiantesRequest" name="inscribirEstudiantesRequest">

       </wsdl:input>

         <wsdl:output message="impl:inscribirEstudiantesResponse" name="inscribirEstudiantesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="desactivarCurso">

         <wsdl:input message="impl:desactivarCursoRequest" name="desactivarCursoRequest">

       </wsdl:input>

         <wsdl:output message="impl:desactivarCursoResponse" name="desactivarCursoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="crearCurso">

         <wsdl:input message="impl:crearCursoRequest" name="crearCursoRequest">

       </wsdl:input>

         <wsdl:output message="impl:crearCursoResponse" name="crearCursoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNombreCurso">

         <wsdl:input message="impl:getNombreCursoRequest" name="getNombreCursoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNombreCursoResponse" name="getNombreCursoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="asignarProfesor">

         <wsdl:input message="impl:asignarProfesorRequest" name="asignarProfesorRequest">

       </wsdl:input>

         <wsdl:output message="impl:asignarProfesorResponse" name="asignarProfesorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNombre">

         <wsdl:input message="impl:setNombreRequest" name="setNombreRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNombreResponse" name="setNombreResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bucarCursos">

         <wsdl:input message="impl:bucarCursosRequest" name="bucarCursosRequest">

       </wsdl:input>

         <wsdl:output message="impl:bucarCursosResponse" name="bucarCursosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarCurso">

         <wsdl:input message="impl:buscarCursoRequest" name="buscarCursoRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarCursoResponse" name="buscarCursoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CursoSoapBinding" type="impl:Curso">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calcularCantCursos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calcularCantCursosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calcularCantCursosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="actualizarCambios">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="actualizarCambiosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="actualizarCambiosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscribirEstudiantes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inscribirEstudiantesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inscribirEstudiantesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="desactivarCurso">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="desactivarCursoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="desactivarCursoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="crearCurso">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="crearCursoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="crearCursoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNombreCurso">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNombreCursoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNombreCursoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="asignarProfesor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="asignarProfesorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="asignarProfesorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setNombre">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNombreRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNombreResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bucarCursos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bucarCursosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bucarCursosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarCurso">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarCursoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarCursoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CursoService">

      <wsdl:port binding="impl:CursoSoapBinding" name="Curso">

         <wsdlsoap:address location="http://localhost:8080/TrabajoAplicadoProgra/services/Curso"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
